.App {
  background-color: azure;
  min-height: 100vh;
}

.App-header {
  background-color: azure;
  display: flex;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(25, 96, 228);
}

.tours-box{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.box {
  background-color: white;
  padding: 15px;
  color: #0e5f75;
  display: flex;
  justify-content: center;
  flex-direction: column;

}
